/.idea/.name
/.idea/6.00x.iml
/.idea/dictionaries/
/.idea/encodings.xml
/.idea/inspectionProfiles/
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/testrunner.xml
/.idea/vcs.xml
/.idea/workspace (sabinu's conflicted copy 2013-08-19 (1)).xml
/.idea/workspace (sabinu's conflicted copy 2013-08-19 (2)).xml
/.idea/workspace (sabinu's conflicted copy 2013-08-19).xml
/.idea/workspace.xml
